@use '../ultils/media-mixins.scss';
@import '../ultils/variables.scss';
.player-info {
    display: flex;
    flex-direction: column;

    &__header {
        font-family: $header-font;
        color: black;
        text-shadow:
        -1px -1px 0 $accent-colour,
        1px -1px 0 $accent-colour,
        -1px 1px 0 $accent-colour,
        1px 1px 0 $accent-colour;
        
    }
    .button-container{
        display: flex;
        width: 100%;
    
        @include media-mixins.tablet {
            justify-content: space-evenly;
        }

        @include media-mixins.laptop {
            width: 70%;
        }
    }
}   

.player-turn {

    text-shadow:
        -1px -1px 0 $player-one-colour,
        1px -1px 0 $player-one-colour,
        -1px 1px 0 $player-one-colour,
        1px 1px 0 $player-one-colour;

    &--colourOne{
        text-shadow:
        -1px -1px 0 $player-two-colour,
        1px -1px 0 $player-two-colour,
        -1px 1px 0 $player-two-colour,
        1px 1px 0 $player-two-colour;
    }

    &--colourTwo {
        text-shadow:
        -1px -1px 0 $player-one-colour,
        1px -1px 0 $player-one-colour,
        -1px 1px 0 $player-one-colour,
        1px 1px 0 $player-one-colour;
    }
}