@use '../ultils/media-mixins.scss';
@import '../ultils/variables.scss';

.score-board {
    text-align: center;  
    font-family: $header-font;
    text-shadow:
        -1px -1px 0 $accent-colour,
        1px -1px 0 $accent-colour,
        -1px 1px 0 $accent-colour,
        1px 1px 0 $accent-colour;
    color: black;

    .score-board-container{
        display: flex;
        justify-content: space-evenly;
        
        

        &__card{
            border: 2px solid $accent-colour;
            padding: 5px;
            border-radius: 20px;
            color:black;
            font-size: 20px;
            
            

            &--playerOne{
                text-shadow:
                -1px -1px 0 $player-one-colour,
                1px -1px 0 $player-one-colour,
                -1px 1px 0 $player-one-colour,
                1px 1px 0 $player-one-colour;
            }

            &--playerTwo {
                text-shadow:
                -1px -1px 0 $player-two-colour,
                1px -1px 0 $player-two-colour,
                -1px 1px 0 $player-two-colour,
                1px 1px 0 $player-two-colour;
            }

            @include media-mixins.large-phone {
                width: 50%;
            }
            @include media-mixins.tablet {
                width: 25%;
            }
            @include media-mixins.laptop {
                width: 15%;
                
            }
            @include media-mixins.laptop-large{
                margin: 0 5%;
            }
            @include media-mixins.laptop-large {
                padding: 35px;
                text-align: center;
            }
            @include media-mixins.laptop-large{
                font-size: 18px;
            
            }
            
        }

        @include media-mixins.laptop-large{
            justify-content: center;
        
        }


    }
}