@import './variables.scss';

body{
    background-color: $black-colour;
    color: white;
}

.player-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;

}

