@import './variables.scss';

body{
    background-color: $black-colour;
    color: white;
}

.player-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;

}

.game-header{
    display: flex;
    justify-content: center;
    align-items: center;

    .game-title{
        font-size: 42px;
        font-family: $header-font;
        letter-spacing: 5px;
        font-weight: 900;
        color: $black-colour;
        text-shadow:
        -1px -1px 0 $accent-colour,
        1px -1px 0 $accent-colour,
        -1px 1px 0 $accent-colour,
        1px 1px 0 $accent-colour;
    }
}