body{
    background: black;
    color: white;
}

.player-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;

}

.game-header{
    display: flex;
    justify-content: center;
    align-items: center;

    .game-title{
        font-size: 36px;
    }
}