@import './variables.scss';

.game-board {
    width: 600px;
    padding: 15px;
    height: 500px;
    background-color: $board-colour;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
    border-radius: 10%;
    box-shadow: 0 0 100px $player-one-colour;

    &__cell {
        color:white;
        border-radius: 50%;
        

        &--background {
            box-shadow: 0 0 15px $accent-colour;
        }

        &--background:hover {
            background-color: $accent-colour-hover;
            cursor: pointer;
            
        }
    }

    .player-one-counter{
        background-color: $player-one-colour;
    }

    .player-two-counter {
        background-color: $player-two-colour;
    }
    
    .bottom{
        display: none;
    }
}

.player-one-shadow {
    box-shadow: 0 0 100px $player-one-colour;
}
.player-two-shadow {
    box-shadow: 0 0 100px $player-two-colour;
}