@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap");
.game-board {
  width: 400px;
  padding: 15px;
  height: 300px;
  background-color: rgba(13, 43, 71, 0.6470588235);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
  border-radius: 10%;
  box-shadow: 0 0 100px red;
}
.game-board__cell {
  color: white;
  border-radius: 50%;
}
.game-board__cell--background {
  box-shadow: 0 0 15px cyan;
}
.game-board__cell--background:hover {
  background-color: rgba(0, 255, 255, 0.144);
  cursor: pointer;
}
.game-board .player-one-counter {
  background-color: red;
}
.game-board .player-two-counter {
  background-color: yellow;
}
.game-board .bottom {
  display: none;
}
@media only screen and (min-width: 576px) {
  .game-board {
    width: 500px;
    height: 400px;
  }
}
@media only screen and (min-width: 768px) {
  .game-board {
    width: 600px;
    height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .game-board {
    width: 500px;
    height: 400px;
  }
}

.player-one-shadow {
  box-shadow: 0 0 100px red;
}

.player-two-shadow {
  box-shadow: 0 0 100px yellow;
}

body {
  background-color: black;
  color: white;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.game-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-header .game-title {
  font-size: 42px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-weight: 900;
  color: black;
  text-shadow: -1px -1px 0 cyan, 1px -1px 0 cyan, -1px 1px 0 cyan, 1px 1px 0 cyan;
}

.player-info {
  display: flex;
  flex-direction: column;
}
.player-info__header {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-shadow: -1px -1px 0 cyan, 1px -1px 0 cyan, -1px 1px 0 cyan, 1px 1px 0 cyan;
}
.player-info .button-container {
  display: flex;
  width: 100%;
}
.player-info .button-container .button {
  background-color: transparent;
  font-size: 20px;
  color: black;
  padding: 10px 0;
  width: 50%;
  border: 2px solid cyan;
  border-radius: 20px;
  text-shadow: -1px -1px 0 cyan, 1px -1px 0 cyan, -1px 1px 0 cyan, 1px 1px 0 cyan;
}
@media only screen and (min-width: 768px) {
  .player-info .button-container .button {
    width: 30%;
  }
}
@media only screen and (min-width: 992px) {
  .player-info .button-container .button {
    width: 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .player-info .button-container .button {
    width: 50%;
  }
}
.player-info .button-container .button:hover {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .player-info .button-container {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 992px) {
  .player-info .button-container {
    width: 70%;
  }
}

.player-turn {
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}
.player-turn--colourOne {
  text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px 0 yellow;
}
.player-turn--colourTwo {
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

.score-board {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-shadow: -1px -1px 0 cyan, 1px -1px 0 cyan, -1px 1px 0 cyan, 1px 1px 0 cyan;
  color: black;
}
.score-board .score-board-container {
  display: flex;
  justify-content: space-evenly;
}
.score-board .score-board-container__card {
  border: 2px solid cyan;
  padding: 5px;
  border-radius: 20px;
  color: black;
  font-size: 20px;
}
.score-board .score-board-container__card--playerOne {
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}
.score-board .score-board-container__card--playerTwo {
  text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px 0 yellow;
}
@media only screen and (min-width: 576px) {
  .score-board .score-board-container__card {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .score-board .score-board-container__card {
    width: 25%;
  }
}
@media only screen and (min-width: 992px) {
  .score-board .score-board-container__card {
    width: 15%;
  }
}
@media only screen and (min-width: 1200px) {
  .score-board .score-board-container__card {
    margin: 0 5%;
  }
}
@media only screen and (min-width: 1200px) {
  .score-board .score-board-container__card {
    padding: 35px;
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  .score-board .score-board-container__card {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .score-board .score-board-container {
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 70vh;
  }
}

/*# sourceMappingURL=style.css.map */
