@use '../ultils/media-mixins.scss';
@import '../ultils/variables.scss';
.game-header{
    display: flex;
    justify-content: center;
    align-items: center;

    .game-title{
        font-size: 42px;
        font-family: $header-font;
        letter-spacing: 5px;
        font-weight: 900;
        color: $black-colour;
        text-shadow:
        -1px -1px 0 $accent-colour,
        1px -1px 0 $accent-colour,
        -1px 1px 0 $accent-colour,
        1px 1px 0 $accent-colour;
    }
}